In [ ]:
import pandas as pd

In [ ]:
wine_df = pd.read_csv("wine_reviews_kaggle.csv")
wine_df.head()

In [ ]:
wine_df.count()

In [8]:
wine_df = wine_df.dropna(how='any')

In [7]:
#count 
total_unique_wines = wine_df["variety"].nunique()

#create total players dataframe
total_wine_df = pd.DataFrame({"Total Reviews" : [total_unique_wines]})

#display dataframe
total_wine_df

   Total Reviews
0            707

In [ ]:
#variable to hold unique count of Item ID
unique_wines = wine_df["variety"].nunique()

#variable to hold mean value of Price
average_price = wine_df["price"].mean()

#variable to hold count of Item ID
average_points = wine_df["points"].mean()

#creates dataframe that combines the above variables 
wine_analysis_df = pd.DataFrame({"Variety_count" : [unique_items]
                                     ,"Average Price" : [average_price]
                                     ,"Average Points" : [total_purchases]
                                     })
#format Average Price to currency
wine_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)

#format Total Revenue to currency
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)

#order the columns in the dataframe
purchase_analysis_df = purchase_analysis_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

#display dataframe
purchase_analysis_df